{% extends 'base.html' %}

{% block content %}

  {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
  {% endif %}

  {% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
  {% endif %}

  <div class="row">
    <div class="mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <h5 class="card-title text-center">Sign in</h5>
          <form method="post" action="{% url 'login' %}" class="form-sign">
            {% csrf_token %}
            <div class="form-label-group">
              <input class="form-control" id="{{ form.username.id_for_label }}" maxlength="30"
                     name="{{ form.username.html_name }}" placeholder="Username" type="text" />
            </div>

            <div class="form-label-group">
              <input class="form-control" id="{{ form.password.id_for_label }}" maxlength="30"
                     name="{{ form.password.html_name }}" placeholder="Password" type="password" />
            </div>
            <input type="hidden" name="next" value="{{ next }}">
            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign in</button>
            <hr class="my-4">
          </form>
        </div>
      </div>
    </div>
  </div>

{% endblock %}